* {
  transition: all 400ms ease;
}

.App {
  text-align: center;
}

p {
  font-family: 'Hind';
}

body {
  /* background-color: #C7E1FF; */
  background-color: #e1e1e3;
}

.App-header {
  z-index: 0;
}

@import url('https://fonts.googleapis.com/css?family=Titan+One');
.App-title {
  font-size: 50px;
  font-family: 'Titan One', cursive;
  color: #9A99D7;
  text-align: center;
  position:relative;
  margin: 20px 0 30px;
}

.App-logo {
  margin-top: 15px;
  height: 150px;
  pointer-events: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  z-index: 1;
}

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400&display=swap');
.App-text {
  border: none;
  font-size: 10px;
  font-family: 'Hind';
  font-weight: '400';
  color: #6E6CCD;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-input {
  display: block;
  margin-left: auto;
  margin-right: auto;  resize: none;
  width: 80%;
  min-height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 1rem;
  background-color: #f8f8f8;
  font-size: 16px;
}

.text-input:focus {
  outline: none;
  border-color: hsl(251, 100%, 79%);
}

.Submit-button {
  text-align: center;
}

li {
  display: inline-block;
}

.App-body {
  background-color: #C7E1FF;
}

@keyframes coolCheck {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.Charts-container{
  display: flex;
  width: 100%;
}

.color-change {
  animation: hue-shift 4s infinite alternate;
}

.button {
  display: grid;
  margin: auto;
  padding: .5rem;
  border-radius: 1em;
  border: 1px solid #121314;
  width: 10rem;
  font-family: 'Hind';
  font-size: 1.3em;
  font-weight: 300;
  background-color: #f8f8f8;
  cursor: pointer;
}

.button:hover{
  background-image: linear-gradient(to left, #dbcdff, #b4c8fb);
  width: 12rem;
  color: #f8f8f8;
}

/* Info Cards */
.App-info {
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

.info-card {
  background: #f8f8f8;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 20px;
  max-width: 20%;
  width: auto;
  margin: 0 10px 30px;

}

.info-card h3 {
  margin-top: 0;
  color: #464646;
  font-family: 'Hind';
}

.info-card h3::first-letter {
  color: #8e79c6;
}

.info-card p {
  color: #555;
  font-family: 'Hind';
}

/* Checkboxes */

.App-buttons-outer {
  display: inline-flex;
  justify-content: space-between;
}

#Buttons-list {
  flex: 1;
}

#Buttons-list input[type="checkbox"] {
  display: none; /* Hide the default checkbox */
}

#Buttons-list label {
  position: relative;
  padding: 0 50px 30px 30px;
  cursor: pointer;
  display: flex;
  font-size: 16px; /* Adjust as needed */
}

#Buttons-list label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  border: 1px solid #000000; /* Border color */
  background-color: #f8f8f8; /* Unchecked background color */
  border-radius: 4px;
  transition: background-color 0.3s;
  
}

#Buttons-list input[type="checkbox"]:checked + label:before {
  background-color: #9A99D7; /* Checked background color */
  animation: coolCheck 0.5s ease; /* Apply the cool check animation */
}