* {
  transition: all 400ms ease;
}

.App {
  text-align: center;
}

body {
  /* background-color: #C7E1FF; */
  background-color: #e1e1e3;
}

.App-header {
  z-index: 0;
}

@import url('https://fonts.googleapis.com/css?family=Titan+One');
.App-title {
  font-size: 50px;
  font-family: 'Titan One', cursive;
  color: #9A99D7;
  text-align: center;
  position:relative;
  margin: 20px 0 30px;
}

.App-logo {
  margin-top: 15px;
  height: 150px;
  pointer-events: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  z-index: 1;
}

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400&display=swap');
.App-description {
  text-align: center;
  font-size: calc(0.2vw + 1rem);
  color: black;
  font-family: 'Hind';
}

.App-input {
  border: none;
  width: 300px;
  height: 30px;
  font-size: 20px;
  font-family: 'Hind';
  font-weight: '400';
  color: #6E6CCD;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: calc(100px + (100vw - 700px) * (15 - 30) / (700 -  1000));
}

.App-text {
  border: none;
  font-size: 10px;
  font-family: 'Hind';
  font-weight: '400';
  color: #6E6CCD;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-input {
  resize: none;
  width: 80%;
  min-height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 1rem;
  background-color: #f8f8f8;
  font-size: 16px;
}

.text-input:focus {
  outline: none;
  border-color: hsl(251, 100%, 79%);
}

.Submit-button {
  text-align: center;
}

li {
  display: inline-block;
}

.App-body {
  background-color: #C7E1FF;
}

@keyframes coolCheck {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Style for the custom checkboxes */
#Buttons-list input[type="checkbox"] {
  display: none; /* Hide the default checkbox */
}

#Buttons-list label {
  position: relative;
  padding-left: 30px; /* Adjust as needed */
  cursor: pointer;
  display: inline-block;
  font-size: 16px; /* Adjust as needed */
}

#Buttons-list label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  border: 1px solid #000000; /* Border color */
  background-color: #fff; /* Unchecked background color */
  border-radius: 4px;
  transition: background-color 0.3s;
}

#Buttons-list input[type="checkbox"]:checked + label:before {
  background-color: #9A99D7; /* Checked background color */
  animation: coolCheck 0.5s ease; /* Apply the cool check animation */
}

.Charts-container{
  display: inline-flex;
}

.color-change {
  animation: hue-shift 4s infinite alternate;
}

.button {
  display: grid;
  margin: auto;
  padding: .5rem;
  border-radius: 1em;
  border: 1px solid #121314;
  width: 10rem;
  font-family: 'Hind';
  font-size: 1.3em;
  font-weight: 300;
  background-color: #fff;
  cursor: pointer;
}

.button:hover{
  background-image: linear-gradient(to left, #dbcdff, #b4c8fb);
  width: 12rem;
  color: #fff;
}